PORT=10100

ARGO_BASE_URL=${ARGO_ENDPOINT}
ARGO_NAMESPACE=argo
ARGO_API_VERSION=argoproj.io/v1alpha1
MDT_CLIENT_IMAGE=kwlee0220/mdt-client
MDT_CLIENT_JAR=mdt-client-all.jar
MDT_ENDPOINT=${MDT_ENDPOINT}
MDT_SERVER_ENDPOINT=${MDT_WORKFLOW_ENDPOINT}
ARGO_DEFAULT_TIMEOUT=1m
ARGO_DEFAULT_LOGGER=info

JWT_SECRET=ETRI_WORKFLOW_JWT_KEY
JWT_EXPIRES_IN=1h
