[Unit]
Description=MDT GUI
After=network.target

[Service]
Type=simple
User=mdt
Group=mdt
WorkingDirectory=/home/mdt/mdt/mdt-gui/dtbackend-main
ExecStart=yarn start
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
